[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
pydantic = {extras = ["dotenv"], version = "*"}
faust = "*"
orjson = "*"
httpx = "*"
fastapi = "*"
parsel = {extras = ["lxml"], version = "4.6.3"}
websocket-client = "*"
sqlalchemy = "*"
asyncpg = "*"
jinja2 = "*"
alembic = "*"
aioredis = "==2.0.0a1"

[dev-packages]

[requires]
python_version = "3.9"
