<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <style>
        body {
            padding-top: 30px;
            background-color: #333;
        }

        .product {
            margin-bottom: 30px;
        }

        .product-inner {
            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
            padding: 10px;
        }

        .product img {
            margin-bottom: 10px;
        }
    </style>
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="row" id="filter">
        <form>
            <div class="form-group col-sm-4 col-xs-4">
                <select data-filter="brand" onchange="changeBrandSelect()" id="filter-brand" class="filter form-control">
                    <option value="">Select Brand</option>
                    {% for brand in brands %}
                        <option value="{{ brand.id }}">{{ brand.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-4 col-xs-4">
                <select data-filter="model" id="filter-model" class="filter form-control">
                    <option value="">Select Model</option>
                </select>
            </div>
            <div class="form-group col-xs-4">
                <button type="submit" class="btn btn-block btn-primary">
                    Search
                </button>
            </div>
        </form>
    </div>
    <div class="row" id="products">

    </div>

    <script>
        const socket = new WebSocket("ws://localhost:8000/ws");
        socket.addEventListener("message", function (event) {
            console.log("Message from server: ", event.data);
        });

        const BASE_URL = "http://127.0.0.1:8000";
        const filterBrandSelect = document.getElementById("filter-brand");
        const filterModelSelect = document.getElementById("filter-model");
        const getBrands = () => {
            const brandID = parseInt(filterBrandSelect[filterBrandSelect.selectedIndex].value);
            axios.get(`${BASE_URL}/get-models?brand_id=${brandID}`)
              .then(function (response) {
                const models = response.data;
                filterModelSelect.innerText = null;
                models.map(model => {
                    const optionElement = document.createElement("option");
                    optionElement.value = model.id;
                    optionElement.text = model.name;
                    filterModelSelect.add(optionElement);
                });

              })
              .catch(function (error) {
                console.log(error);
              })
        }
        const changeBrandSelect = (e) => {
            getBrands()
        }

    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</div>
</body>
</html>
